@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-bg: #fcfbf9;
  --color-text: #333333;
  --color-text-2: #5a5a6a;
  --color-text-3: #777777;
  --color-accent-1: #a88fff;
  --color-accent-2: #ffc973;

  --color-lines: #dfded9;

  --font-work-sans: "Work Sans", sans-serif;
  --font-primary: "Poppins", serif;
}

body {
  font-family: var(--font-work-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
  position: relative;
}

html.activate-overlay section#overlay {
  opacity: 1;
  pointer-events: all;
}

html.activate-overlay section:not(#overlay) {
  display: none;
}
